In [42]:
from pprint import pprint
from collections import Counter

print("Hello")

Hello

In [43]:
a = 7
a 
b = 12
b + a 

[[1,2,3,4], [5,6,7,8]]

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [44]:
pprint({"a":1,"b":2})

{'a': 1, 'b': 2}

In [45]:
# lists
t = [1,3,5,7]
t

t, t[0], t[-1]

t[0],t[0:2], t[0:-1], t[0:], t[-2:], t[:], t[::2], t[::-1] # slice -> starting point and up to point

t = [1,2]
t.append(3) # appending an additonal element
t[1] = 5 # changing an element in place
t

[1, 5, 3]

In [46]:
# Tuple (can't be changed) -> efficient

q = (1,2)
r = [1,2]
z = list(q)
z.append(55)
tuple(z)
q, list(q), tuple(r), tuple(z)

((1, 2), [1, 2], (1, 2), (1, 2, 55))

In [47]:
def x(z):
    return z, z * 2
t = x(4)
t
# unpacking a tuple
a,b = x(4)
a,b

(4, 8)

In [48]:
# Sets -> Has unique values
s = {1,2,3}
# s.append(4) # can't append to sets
s.add(4)
s

{1, 2, 3, 4}

In [49]:
t = list(set([1,3,2,5,2,3,5,6,7,3,5,3]))
t # Only prints unique outputs

[1, 2, 3, 5, 6, 7]

In [50]:
# Dictionaries (Mutable)

pet = {"Name":"dorothy","Age": 11, "Hair Color": "black", "Food":"dog food"}
pet

{'Name': 'dorothy', 'Age': 11, 'Hair Color': 'black', 'Food': 'dog food'}

In [51]:
pet["fav numbers" ] = [3,4,5,6]
pet

{'Name': 'dorothy',
 'Age': 11,
 'Hair Color': 'black',
 'Food': 'dog food',
 'fav numbers': [3, 4, 5, 6]}

In [53]:
t = [1,2,3,5,6,7,9]
x = [item*2 for item in t]
z = [item for item in t if item > 5]
y = [item for item in [item*2 for item in t ] if item > 5]
x,z,y

([2, 4, 6, 10, 12, 14, 18], [6, 7, 9], [6, 10, 12, 14, 18])

In [ ]:
squares = {item:item*item for item in t}
squares

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49, 9: 81}

In [ ]:
x = [i**2 for i in range(1, 11) if i % 2 == 0]
x

[4, 16, 36, 64, 100]

In [ ]:
x = [i**2 for i in range(2, 11, 2)]
x

[4, 16, 36, 64, 100]

In [ ]:
t = [13,4,34,62,31,5,9,8]
x = sorted(t, reverse=True) 
print([x])

[[62, 34, 31, 13, 9, 8, 5, 4]]

In [ ]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 88}
sorted_scores = sorted(scores.items(), key = lambda item: item[1], reverse=True)
print(sorted_scores)

[('Bob', 92), ('Charlie', 88), ('Alice', 85)]

In [ ]:
x = lambda z: z*2
print(x(4))

8

In [ ]:
print((lambda z: z*2)(2))

4

In [54]:
things = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
counter = Counter(things)
counter

Counter({'banana': 3, 'apple': 2, 'orange': 1})

In [55]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25,30,35]
combined = list(zip(names, ages))
combined

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [57]:
data = {name:score for name, score in combined}
print(data)

{'Alice': 25, 'Bob': 30, 'Charlie': 35}

In [61]:
# Nested List
nested_collection = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
flattened = [item for sublist in nested_collection for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
[[item * 2 for item in row] for row in nested_collection]

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [65]:
students = {
    "Alice": {"math": 85, "science": 92},
    "Bob": {"math": 78, "science": 81},
    "Charlie": {"math": 93, "science": 88},
}

curved = {
    student : {subject: grade + 5 for subject, grade in subjects.items() if grade >= 90}
    for student, subjects in students.items() # if "chemistry" in subjects
}

print(curved)

{'Alice': {'science': 97}, 'Bob': {}, 'Charlie': {'math': 98}}